@use '../variables';

#portfolio {
    display: flex;
    flex-wrap: wrap;
    padding: 3rem;
    gap: 3rem;

    h1 {
        width: 100%;
        font-size: 5rem;
        margin-bottom: 4rem;
        background: variables.$gradient-name;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        border-bottom-style: solid;
        border-width: 1px;
        border-color: #ffffff48;
    }
}

